@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar */
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left:0;
  padding: 10px 25px;
  gap: 25px;
  position: sticky;
  z-index: 999;
  background-color: white;
}

.Nav .left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Nav .logo{
  display: flex;
  font-size: 20px;
}

.Nav .logo-icon{
  font-size: 35px;
  color: #1DA1F2;
}

.Nav .logo-name{
  padding-top: 4px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -2px;
}

.Nav .mid{
  display: none;
  flex-grow: 1;
  padding-left: 15%;
}

.Nav-hidden{
  display: none;
}

/* Replacing mid? */
.SearchNav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  gap: 15px;
}

.SearchNav-hidden{
  display: none;
}

.arrow-icon{
  color: #505050;
}
.SearchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.SearchBar input{
  border: 1px solid #e0e0e0;
  border-right: none;
}

.search-bar{
  height: 43px;
  width: 100%;
  border: none;
  padding-left: 10px;
  font-size: 16px;
}

.search-icon{
  font-size: 40px;
  box-sizing: content-box;
  padding: 0px 20px;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
}

.search-icon:hover{
  background-color: #eeeeee;
  cursor: pointer;
}

.arrow-icon{
  font-size: 25px;
}
.arrow-icon:hover{
  cursor: pointer;
}

.voice-icon{
  font-size: 40px;
  margin-left: 15px;
}

.voice-icon:hover{
  cursor: pointer;
}

.icon-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
}

.icon-bg:hover{
  background-color: #D3D3D3;
}



.Nav .right{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

/* SignIn Button */
.SignIn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #106fff;
  padding: 5px 10px;
  text-transform: uppercase;
  gap: 10px;
  font-size: 15px;
  white-space: nowrap;
  color: #106fff;
} 

.user-icon{
  font-size: 25px;
}

.main-searchbar{
  display: none;
}

/* Responsive Navbar */
@media screen and (min-width: 656px){
  .Nav .hide-icon{
    display:none;
  }

  .Nav .mid{
    display: flex;
  }

  .SearchBar{
    width: 100%;
  }
  
}

@media screen and (min-width: 825px){
  .search-icon{
    font-size: 25px;
    padding: 8px 20px;
  }
  .voice-icon{
    font-size: 25px;
  }

  .SearchBar{
    width: 90%;
  }

}


/* Sidebar */
.MinSidebar{
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* gap: 25px; */
  /* width: 75px; */
  /* background-color: #D3D3D3; */
  /* display: none; */
}

.sidebar-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  width: 75px;
  padding: 17px 5px;
  padding-left: 10px;
  /* background-color: #D3D3D3; */
}

.sidebar-icon:hover{
  background-color: #D3D3D3;
}

.sidebar-icon p{
  font-size: 12px;
}



/* Main Section */
.main-section{
  display: flex;
}
.MinSidebar{
  display: none;
}
.content{
  flex: 1;
  height: 100vh;
  /* background-color: red; */
}
@media screen and (min-width: 808px){
  .MinSidebar{
    display: flex;
    flex: 0.01;
  }
  .content{
    flex: 0.99;
  }
}

@media screen and (min-width: 1329px){
  /* .sidebar-icon{
    flex-direction: row;
    width: 225px;
    font-size: 24px;
    padding: 17px 30px;
  } */

  /* .sidebar-icon p{
    font-size: 14px;
  } */
  .MinSidebar{
    flex: 0.05;
  }
  .content{
    background-color: white;
    height: 100vh;
    flex: 0.95;
  }

  /* .activeSideBar div{
    flex-direction: row;
    width: 225px;
    font-size: 24px;
    padding: 17px 30px;
  }

  .activeSideBar div p{
    font-size: 14px;
  } */

}

/* Full Sidebar */
  .FullSidebar div{
    flex-direction: row;
    width: 225px;
    font-size: 24px;
    padding: 17px 30px;
  }

  .FullSidebar div p{
    font-size: 14px;
  }

  /* .hide-sidebar{
    display: none;
  } */



.PopularVideos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Video {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
  padding: 5px 5px;
  }

.Video iframe {
  padding-top: 20px;
}
.vid-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 5px;
}

.vid-info h5 {
  color: #444;
}

.SearchVideo {
  display: flex;
  align-items: flex-start;
  padding: 25px 0px;
}

.SearchVideos .vid-info {
  padding-left: 25px;
}